<!-- views/pages/jobs.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); -%>
    </head>
    <body class="container">

        <header>
            <%- include("../partials/header"); -%>
        </header>

        <main>
            <div class="jumbotron">
                <h2>Jobs</h2><br>

                <a class="btn btn-primary" href="/jobs/new" role="button">Create a new concept/idea post</a>
                <br><br>

                <ul class="list-group">
                    <% posts.forEach(function(post){ %>
                        <li class="list-group-item">
                            <a href="/jobs/<%= post._id %>"><%= post["title"] %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </main>

        <footer>
            <%- include("../partials/footer"); -%>
        </footer>

    </body>
</html>