<!-- views/pages/jobs.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); -%>
    </head>
    <body class="container">

        <header>
            <%- include("../partials/header"); -%>
        </header>

        <main>
            <div class="jumbotron">

                <a class="btn btn-primary" href="/jobs/new" role="button">Create a new concept/idea post</a>
                <br><br>
                <div class="list-group">
                    <% posts.forEach(function(post){ %>
                        <div class="list-group-item">
                            <a href="/jobs/<%= post._id %>"><%= post["title"] %></a><br>
                            <span class="d-inline-block text-truncate" style="width: 100%;">
                                <em><%= post["description"] %> </em>
                            </span>
                        </div>   
                    <% }) %>
                </div>
            </div> 
        </main>
        
        <footer>
            <%- include("../partials/footer"); -%>
        </footer>

    </body>
</html>