<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); -%>
</head>

<body class="container">

    <%- include("../partials/header"); -%>

    <main>
        <div class="jumbotron">

            <% if (error.length > 0){ %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>

            <% if (success_msg.length > 0){ %>
                <div class="alert alert-success"><%= success_msg %></div>
            <% } %>

            <% if (error_msg.length > 0){ %>
                <div class="alert alert-danger"><%= error_msg %></div>
            <% } %>

            <% if (isLoggedIn) { %>
                <a class="btn btn-primary" href="/jobs/new" role="button">Create a new concept/idea post</a>
                <br><br>
            <% } else { %>
                <p>You must be logged in to post a new concept/idea</p>
                <br>
            <% } %>

            <div class="list-group list-group-flush">
                <% posts.forEach(function(post){ %>
                    <div class="list-group-item">
                        <a href="/jobs/<%= post._id %>"><%= post["title"] %></a> 
                        - <span style="font-size: smaller;"> <%= post["created_at"].toDateString() %></span>
                        <br><br>
                        <span class="d-inline-block text-truncate" style="width: 100%; font-size: smaller;">
                            <em><%= post["description"] %> </em> 
                        </span>
                    </div>
                    <br>
                <% }) %>
            </div>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer"); -%>
    </footer>

</body>

</html>