<!-- views/pages/jobs.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head"); -%>
    </head>
    <body class="container">

        <header>
            <%- include("../partials/header"); -%>
        </header>

        <main>
            <div class="jumbotron">
                <h2><%= post["title"] %></h2>
                <article>
                    <p><%= post["description"] %></p>
                </article>
            </div>
        </main>

        <footer>
            <%- include("../partials/footer"); -%>
        </footer>

    </body>
</html>