<!-- views/pages/ideas.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); -%>
</head>

<body class="container">

    <%- include("../partials/header"); -%>

    <main>
        <div class="jumbotron">
            <h2><%= post["title"] %></h2>
            <p><%= post["created_at"].toDateString() %></p>
            <hr>
            <% if(post['posted_by'] == username) { %>
                <p>
                    Posted by <span class="font-style-bold">You</span> 
                    <button type="button" class="btn btn-sm" data-toggle="modal"
                    data-target="#editPostModal"> <i class="fas fa-pencil-alt"></i></button>
                </p>
                
                <br>
            <% } else { %>
                <p>Posted by <span class="font-style-bold"><%= post["posted_by"] %></span></p>
                
            <% } %>
                <article>
                    <p><%= post["description"] %></p>
                </article>

                <br><br>

            <% if(isLoggedIn) { %>

                <% if(post['posted_by'] == username) { %>
                    <button type="button" class="btn btn-info btn-lg btn-danger" data-toggle="modal"
                        data-target="#confirmModal">Delete</button>

                    <div class="modal fade" id="confirmModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Are you sure?</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <div class="btn-group">
                                        <form action="/ideas/delete/<%= post._id %>" method="POST">
                                            <button type="submit" class="btn btn-danger">Yes, I'm sure.</button>
                                        </form>
                                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal"
                                            style="margin-left: 5px;">No, I'm not.</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                <% } else { %>

                    <% var userInterested = false %> 
                    <% for(var i=0; i < userInterests.length; i++) { %>
                        <% if ((username == userInterests[i].username)  && (postID == userInterests[i].post_id)){ %> 
                            <% userInterested = true; %>
                            <% break; %> 
                        <% } %>
                    <% } %>
                    
                    <% if (userInterested) { %> 
                        <p><em>You're already interested in this idea</em></p>
                    <% } else { %> 
                        <form action="/ideas/interested/<%= post._id %>" method='POST'>
                            <button type="submit" class="btn btn-info">I'm interested</button>
                        </form>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <%- include("../modals/edit_post"); -%>
    </main>

    <footer>
        <%- include("../partials/footer"); -%>
    </footer>

</body>

</html>